extends layout

block content
    h1 Create A New Category
     if errors
      ul
       each error in errors
        li= error.msg
     form(method='POST' action='' style="background-color: #f2f2f2; padding: 20px; border-radius: 5px;padding: 10px; display: flex; flex-direction: column; gap: 15px; justify-content: center; width: 500px;")
       label(for="name") Category Name
       input(type="text" value=categoryInfo.name name="name" id="name" style="padding: 8px; border-radius: 5px; border: none; margin-bottom: 10px;")
       label(for="description") Category Description
       input(type="text" value=categoryInfo.description name="description" id="description" style="padding: 8px; border-radius: 5px; border: none; margin-bottom: 10px;")
       button(type="submit" style="background-color: #4CAF50; color: white; padding: 10px 15px; border: none; border-radius: 5px; cursor: pointer; font-size: 16px; margin-top: 20px; width: max-content margin: 0 auto;") Add Category to Database
